@import "variable";

.App {
  background-color: $base-color;
  min-width: $min-width-standard;
  width: 100%;
  height: 100%;

  .App__info {
    width: 100%;
    min-height: 400px;
    min-width: $min-width-standard;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
  .App_hydro {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }
}